@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200,300,400,500,900,&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif; 
    list-style: none;
    color: #00ff00;
}

/* ---------- New  Header CSS ----------*/

.containerNav {
    height: 100vh;
    width: 100%;
    position: relative;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerNav::before {
    content: "";
    position: absolute;
    height: 130px;
    width: 130px; 
    border-radius: 50%;
    background: linear-gradient(#ff0000, #fcd200); 
    transform: translate(-490px,-150px); 
}

.containerNav::after {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px; 
    border-radius: 50%;
    background: linear-gradient(#fcd200, #c100fc); 
    transform: translate(490px,170px); 
} 

.containerNav .ball-1 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #04f589;
    transform: translate(-250px,200px);
    position: absolute;
}

.containerNav .ball-2 {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: #e208ff;
    transform: translate(-10px,-220px);
    position: absolute;
}

.containerNav .ball-3 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #ff6d04;
    transform: translate(150px,250px);
    position: absolute;
} 

.containerNav .headerbox {
    height: 86vh;
    width: 75%;
    padding: 0,20px;
    background: rgba(255,255,255,0.1);
    z-index: 10;
    display: flex;
    position: relative;
    border-radius: 20px;
    border: 2px solid rgba(255,255,255,0.7);
    backdrop-filter: blur(25px); /*important!!*/
    box-shadow: -15px 17px 17px rgba(10,10,10,0.25);
}

.containerNav .headerbox .navbar {
    height: 7%;
    width: 95%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
    padding: 20px;
}

.containerNav .headerbox .navbar ul li {
    width: 100%;
    display: inline-block;
    padding: 0 90px;
    justify-content: right;   
} 

.containerNav .headerbox .navbar ul li a {
    font-size: 13px;
    cursor: pointer;
    color: #00ff00;
}

.containerNav .headerbox .navbar ul li a:hover {
    color: #fff;
} 

.containerNav .headerbox .navbar .logo {
    font-size: 35px;
    color: #000;
    color: #00ff00;
    margin-top: 10px;
    margin-left: 20px;
}

.containerNav .headerbox .contains {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    position: relative;
    margin-top: 8%; 
    padding-left: 80px;
}

.containerNav .headerbox .contains .section-1 {
    position: absolute;
    margin-top: 80px;
}

.containerNav .headerbox .contains .section-1 h1 {
    font-size: 45px; 
    /* font-size: 75px; */
    color: #000;
    color: #00ff00;   
}

.containerNav .headerbox .contains .section-1 h3 {
    font-size: 26px;
    /* font-size: 36px;  */
    text-align: center;
    color: #000; 
    color: #00ff00;
    padding-top: 5px;   
}

.containerNav .headerbox .contains .section-2 img {
    width: 600px; 
    height: auto;
    opacity: .5;
    transform: translateX(380px);
    border-radius: 25px;
}

/* ----- Media Queries 
Nav Background Section ----- */

@media (max-width: 992px){
    
    .containerNav {
        width: 100%;
    }

    .containerNav .headerbox {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        position: absolute;
    } 

    .containerNav .headerbox .navbar {
        height: 4%;
        margin: 5px auto;
        transform: translateY(-50%); 
    }
    
    .containerNav .headerbox .contains .section-1 {
        justify-content: left;
        align-items: left;
    }

    .containerNav .headerbox .contains .section-1 h1{
        justify-content: center;
        align-items: center;
        font-size: 28px;
    }

    .containerNav .headerbox .contains .section-1 h3{
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    .containerNav .headerbox .contains .section-2 img {
        display: none;
    }

}   

/* ----------  About CSS ----------*/

#about {
    padding-top: 0px;
    margin-bottom: 0px;
}

.about {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #02270c;
    background-color: #000;
    align-items: center;
    justify-content: center;
}

.profile-img {
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    height: 350px;  
}

.who h3 {
    margin-top: 50px;
}

.skills-bar  p {
    margin-bottom: 6px;
    font-weight: 600;
}

.progress {
    border-radius: 16px !important;
    margin-bottom: 10px;
}

.progress-bar {
    border-radius: 16px;
    background: #035e18 !important;
}

/* ----------  Resume CSS ----------*/

#resume {
    padding-top: 0px;
    margin-bottom: 0px; 
}


.resume {
    padding-top: 50px;
    padding-bottom: 30px;
    background: #fff;
    background: #000; 
}

.resume h3 {
     padding-bottom: 50px;   
}

.time-line {
    list-style-type: none;
    position: relative;  
}

.time-line:before {
    content: "";
    background: #00ff00; 
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 1;  
}

.time-line li {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    /* background:#035e18;
    background: #fff;  */   
}

.time-line li h4 {
    /* background-color: #000;
    background-color: #02270c; */
    background-color: #035e18;
    padding: 5px 0 5px 20px;
    color: #fff;
    color: #00ff00;
    font-size: 15px;
}

.time-line li h4 span {
    font-weight: bold;
    color: #ccc;   
}

.time-line li:before {
    content: "";
    background: #fff;
    background: #00ff00;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #000;
    border: 3px solid #02270c;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 1;
}

.resume p {
    padding-bottom: 50px;
    margin-bottom: 50px;
}

/* ----------  Services CSS ----------*/

#services {
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #000;
}

.services h1 {
    margin-bottom: 15px;
}

.services-box {
    background: #f9f9f9;
    padding: 10px;
    margin-top: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.services-box .fa {
    margin: 0 10px;
    font-size: 20px;       
}

.services-box h6 {
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
}

.services-box p {
    margin-top: 20px;
    margin-left: 65px;
    font-size: 15px;
    color: #777;
}

.services-box:hover {
    background: #000;
    background: #333;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.services-box:hover {
    color: #fff;
    color: #a5efb7;
}

/* ----------  Contact CSS ----------*/
 
#contact {
    background: #000;
    padding-top: 0px; 
    padding-bottom: 20px;
}

.img-container {
    position: relative;
    width: 100%;
}

.img-container img { 
    vertical-align: middle;
    margin: 0;
    padding: 20px;
    border-radius: 25px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
}

.img-container .contact1 {
    position: absolute;
    bottom: 100px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

